/* ------------------------- */
/* Generador de Contraseñas */
/* Creado por: Carlos Arturo Esparza */
/* Para: http://www.falconmasters.com */
/* ------------------------- */

/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

*::selection {
	background:#33257E ;
	color:#fff;
}

*::-moz-selection {
	background:#33257E;
	color:#fff;
}

body {
	background: #212139;
	color: #fff;
}

a {
	color: #fff;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

.contenedor {
	max-width:500px;
	width: 90%;
	margin: 40px auto;
}


/* ------------------------- */
/* Logotipo */
/* ------------------------- */
.logo { 
	margin-bottom: 40px;
	width: 100%;
	text-align: center;
}

.logo img { 
	width: 100%;
	vertical-align: top;
 }

/* ------------------------- */
/* Estilos de Filas y Columnas */
/* ------------------------- */
.app .fila {
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.app .col {
	width: 50%;
}

/* ------------------------- */
/* Estilos generales de inputs y botones */
/* ------------------------- */
.app label {
	line-height: 40px;
}

.app input {
	text-align: center;
	border: none;
}

.app .btn {
	width: 100%;
	background: #684BFF;
	color: #fff;
	display: inline-block;
	height: 40px;
	vertical-align: top;
	font-size: 16px;
	text-align: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: all .3s ease;
}

.app .btn:hover {
	background: #B4A5FF;
}

.app .btn.false{
	background: #33257E;
}

/* ------------------------- */
/* Fila: Numero de Caracteres */
/* ------------------------- */
.app .numero-caracteres .botones div {
	width: 100%;
}

.app .numero-caracteres .botones div:nth-child(1) button{
	border-radius: 4px 0 0 4px;
}
.app .numero-caracteres input {
	height: 40px;
	width: 100%;
	cursor: default;
	background: #33257E;
	color: #fff;
}
.app .numero-caracteres .botones div:nth-child(3) button{
	border-radius: 0 4px 4px 0;
}

.app .numero-caracteres .botones{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
	
/* ------------------------- */
/* Fila: Generar Contraseña */
/* ------------------------- */
.app .fila.generar {
	margin-bottom: 10px;
}

.app .fila.generar .col:nth-child(1){
	width: 30%;
}

.app .fila.generar .col:nth-child(2) {
	width: 65%;
}

.app .fila.generar .btn.btn-generar {
	width: 100%;
	height: 40px;
	font-size: 18px;
	padding: 0;
	line-height: 40px;
	position: relative;
	z-index: 1;
}

.app .fila.generar .btn.btn-generar i {
	margin-left: 20px;
	position: relative;
	top:-1px;
	font-size: 14px;
}

.app .fila.generar .btn.btn-generar:after {
	content: "";
	display: inline-block;
	background: #684BFF;
	width: 14px;
	height: 14px;
	position: absolute;
	top:13px;
	right:-7px;
	transform: rotate(45deg);
	z-index: 9;
	transition: all .3s ease;
}

.app .fila.generar .col:nth-child(1):hover .btn-generar:after {
	background: #B4A5FF;
}

.app .fila.generar .input-password {
	width: 100%;
	background: none;
	border-radius: 4px;
	border:1px solid rgba(255,255,255,.25);
	color: #fff;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	transition: all .3s ease;
}

.app .fila.generar .input-password:hover {
	border:1px solid rgba(255,255,255,.5);
}

.app .fila.generar input::selection {
	background: #212139;
}

.app .fila.generar input::-moz-selection {
	background: #212139;
}

/* ------------------------- */
/* Fila: Alerta */
/* ------------------------- */
.app .fila.alerta {
	justify-content: flex-end;
}

.app .fila.alerta .col {
	width: 65%;
}
.app .fila.alerta .alerta-copiado {
	text-align: center;
	color: rgba(255,255,255,0);
	transition: all .3s ease;
}

.app .fila.alerta .alerta-copiado.active {
	color: rgba(255,255,255,1);
}

.app .fila.alerta .alerta-copiado p, 
.app .fila.alerta .alerta-copiado i {
	font-size: 12px;
}

/* ------------------------- */
/* Media Queries */
/* ------------------------- */
@media screen and (max-width: 500px){
	.logo img {
		width: 70%;
	}

	.app .fila {
		flex-direction: column;
		margin-bottom: 20px;
	}

	.app .fila .col {
		width: 100%;
		margin-bottom: 20px;
	}

	.app .fila.generar {
		border-top:1px solid rgba(255,255,255,.25);
		padding-top:40px;
	}

	.app .fila.generar .col:nth-child(1), 
	.app .fila.generar .col:nth-child(2) {
		width: 100%;
	}

	.app .fila.generar .btn.btn-generar:after {
		top: auto;
		left: 50%;
		right: 50%;
		bottom: -7px;
	}
}

/* ------------------------- */
/* Creditos */
/* ------------------------- */
.creditos {
	text-align: center;
}

.creditos p, a {
	font-size: 14px;
}